<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/header_admin::common-header">
</head>
<body>
<div th:replace="common/header_admin::navbar"/>

<div class="container">
    <div class="table-responsive">
        <table id="bookListTable" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" th:id="selectAllBooks"></th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>List Price</th>
                <th>Our Price</th>
                <th>Active</th>
                <th sec:authorize="hasRole('ADMIN')">Operation</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="book:${bookList}">
                <td>
                    <input type="hidden" name="id" th:value="${book.id}">
                    <input type="checkbox" th:id="'selected' + ${book.id}" class="checkboxBook">
                </td>
                <td>
                    <a th:href="@{'/adminportal/book/bookInfo?id=' + ${book.id}}">
                        <span th:text="${book.title}"></span>
                    </a>
                </td>

                <td th:text="${book.author}"></td>
                <td th:text="${book.category}"></td>
                <td th:text="${book.listPrice}"></td>
                <td th:text="${book.ourPrice}"></td>
                <td th:text="${book.active}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <input hidden="hidden" name="id" th:value="${book.id}" />
                    <button th:id="'oneBook-'+${book.id}" class="btn btn-danger btn-xs delete-book" type="submit" value="delete" >
                        <span class="fas fa-times"></span>Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button th:id="deleteSelected" class="btn btn-danger " sec:authorize="hasRole('ADMIN')">Delete Selected</button>
</div>

<div th:replace="common/header_admin::body-bottom-scripts"/>
<script>
    $(document).ready(function () {
        $('#bookListTable').DataTable({
            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ]
        });

    });

</script>
</body>
</html>