<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::common-header">
</head>
<body>
<div th:replace="common/header::navbar"/>
<div class="container">
  <div class="row" style="margin-bottom: -100px;">
    <div class="col-xs-8">
      <h2 class="section-headline"><span>User Account</span></h2>
    </div>
    <div class="col-xs-4">
      <img th:src="@{/images/logo.png}" class="img-responsive">
    </div>

  </div>

  <hr style="position: absolute;height: 6px;background-color: #333;z-index: -1; margin-top: 4px; width: 90%;" />

  <img th:src="@{/images/wood.png}" class="img-responsive" style="margin-top: -50px; z-index: -1; width: 90%;">

  <div class="row" style="margin-top: 10px">
    <form th:action="@{/checkout}" method="post">
<!--      Left Panel-->
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <button type="submit" class="btn btn-warning btn-block">Place your order</button>
            <p style="font-size: smaller;">By placing your order, you agree to bookstore <a href="#">privacy</a>notice and <a href="#">conditions</a> of use</p>

            <hr>
            <h3>Order Summary</h3>
            <div class="row">
              <div class="col-xs-7 text-left">
                Total before tax:
              </div>
              <div class="col-xs-5 text-right">
                $<span th:text="${shoppingCart.grandTotal}"></span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-7 text-left">
                Estimate tax:
              </div>
              <div class="col-xs-5 text-right">
                $<span th:with="tax=${shoppingCart.grandTotal*0.06}"
                       th:text="${#numbers.formatDecimal(tax,0,2)}"></span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-7 text-left">
                <h3 style="color: darkred;"><strong>Order total:</strong></h3>
              </div>
              <div class="col-xs-5 text-right">
                <h3><strong style="color: darkred;">
                  $<span th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.06}"
                         th:text="${#numbers.formatDecimal(total,0,2)}"></span>
                </strong></h3>
              </div>
            </div>
          </div>
          <div class="panel-footer">Shipping and handling haven't applied</div>
        </div>
      </div>
<!--      Checkout info-->
      <div class="col-xs-8">
        <div th:if="${missingRequiredField}">
          <h5 class="alert alert-warning">There are some fields missing. Field with * is required</h5>
        </div>
        <div class="panel-group" id="accordion">
<!--          1.Shipping Address-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="#shippingInfo" data-toggle="collapse" data-parent="#accordion">
                  1.Shipping Address
                </a>
              </h4>
            </div>
            <div id="shippingInfo" class="panel-collapse collapse" th:classappend="${classActiveShipping}? 'in'">
              <div class="panel-body">
                <table class="table" th:if="${not emptyShippingList}">
                  <thead>
                    <tr>
                      <th>Available Shipping Address</th>
                      <th>Operations</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="userShipping:${userShippingList}">
                      <td th:text="${userShipping.userShippingStreet1} + ' '
                      +${userShipping.userShippingStreet2} + ', '
                      + ${userShipping.userShippingCity} + ', '
                      + ${userShipping.userShippingState} ">
                      </td>
                      <td>
                        <a th:href="@{'/setShippingAddress?userShippingId=' + ${userShipping.id}}">use this address</a>
                      </td>

                    </tr>
                  </tbody>
                </table>

                <div class="form-group">
                  <label for="shippingName">Name</label>
                  <input type="text" class="form-control"
                         id="shippingName" placeholder="Receiver Name"
                         name="ShippingAddressName" th:value="${shippingAddress.ShippingAddressName}">
                </div>

                <div class="form-group">
                  <label for="shippingStreet">Name</label>
                  <input type="text" class="form-control"
                         id="shippingStreet" placeholder="Street Address 1"
                         name="ShippingAddressStreet1" th:value="${shippingAddress.ShippingAddressStreet1}">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control"
                         placeholder="Street Address 1"
                         name="ShippingAddressStreet2" th:value="${shippingAddress.ShippingAddressStreet2}">
                </div>

                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="shippingCountry">* Country</label>
                      <input
                              type="text" class="form-control" id="shippingCountry"
                              placeholder="Shipping Country" name="ShippingAddressCountry"
                              required="required"
                              th:value="${shippingAddress.ShippingAddressCountry}"/>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="shippingCity">* City</label>
                      <input
                              type="text" class="form-control" id="shippingCity"
                              placeholder="Shipping City" name="ShippingAddressCity"
                              required="required"
                              th:value="${shippingAddress.ShippingAddressCity}"/>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="shippingState">* State</label>
                      <select
                              id="shippingState" class="form-control"
                              name="ShippingAddressState"
                              th:value="${shippingAddress.ShippingAddressState}"
                              required="required">
                        <option value="" disabled="disabled">Please select an option</option>
                        <option th:each="state : ${stateList}" th:text="${state}"
                                th:selected="(${shippingAddress.ShippingAddressState}==${state})"></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="shippingZipcode">* Zipcode</label>
                      <input
                              type="text" class="form-control" id="shippingZipcode"
                              placeholder="Shipping Zipcode"
                              th:name="ShippingAddressZipcode" required="required"
                              th:value="${shippingAddress.ShippingAddressZipcode}"/>
                    </div>
                  </div>
                </div>
                <a data-toggle="collapse" data-parent="#accordion" class="btn btn-warning pull-right" href="#paymentInfo">Next</a>
              </div>
            </div>
          </div>

<!--          Payment Information-->
          <div class="panel panel-defaut">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#paymentInfo">
                  2. Payment Information
                </a>
              </h4>
            </div>
            <div id="paymentInfo" class="panel-collapse collapse" th:classappend="${classActivePayment}?'in'">
              <div class="panel-body">
                <table class="table" th:unless="${emptyPaymentList}">
                  <thead>
                  <tr>
                    <th>Available Credit Card</th>
                    <th>Operations</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="userPayment:${userPaymentList}">
                    <td th:text="${userPayment.cardName}"></td>
                    <td>
                      <a th:href="@{'/setPaymentMethod?userPaymentId=' + ${userPayment.id}}">use this payment</a>
                    </td>
                  </tr>
                  </tbody>
                </table>

<!--                Credit Card Information-->
                <div class="row">
                  <div class="col-xs-12">
                    <img th:src="@{/images/creditcard.png}" class="img-responsive"> <br>
                    <div class="form-group">
                      <label for="cardType">* Select Card Type:</label>
                      <select name="type" id="cardType" class="form-control" th:value="${payment.type}">
                        <option value="visa">Visa</option>
                        <option value="mastercard">Master Card</option>
                        <option value="discover">Discover</option>
                        <option value="amex">American Express</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="cardHolder">*Card Holder Name</label>
                      <input type="text" class="form-control" id="cardHolder"
                             required="required" name="holderName"
                             placeholder="Card Holder Name"
                             th:value="${payment.holderName}">
                    </div>
                    <div class="form-group">
                      <label for="cardNumber">*Card Number</label>
                      <div class="input-group">
                        <input type="tel" class="form-control" id="cardNumber"
                               required="required" name="cardNumber"
                               placeholder="Valid Card Number"
                               th:value="${payment.cardNumber}">
                        <span class="input-group-addon"><i class="fa fa-credit-card"
                                                           aria-hidden="true"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-7">
                    <div class="form-group">
                      <label>* Expiration Date</label>
                      <div class="row">
                        <div class="col-xs-6">
                          <select name="expireMonth"
                                  th:value="${payment.expireMonth}"
                                  class="form-control" required="required">
                            <option disabled="disabled">--Month--</option>
                            <option value="1">Jan(01)</option>
                            <option value="2">Feb(02)</option>
                            <option value="3">Mar(03)</option>
                            <option value="4">Apr(04)</option>
                            <option value="5">May(05)</option>
                            <option value="6">Jun(06)</option>
                            <option value="7">Jul(07)</option>
                            <option value="8">Aug(08)</option>
                            <option value="9">Sep(09)</option>
                            <option value="10">Oct(10)</option>
                            <option value="11">Nov(11)</option>
                            <option value="12">Dec(12)</option>
                          </select>
                        </div>
                        <div class="col-xs-6">
                          <select name="expireYear" class="form-control"
                                  th:value="${payment.expireYear}"
                                  required="required">
                            <option disabled="disabled">--Year--</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-5">
                    <div class="form-group">
                      <label for="cardCVC">CVC Code</label>
                      <input type="number" id="cardCVC" class="form-control" name="cvc"
                             placeholder="CVC" th:value="${payment.cvc}">
                    </div>
                  </div>
                </div>

<!--                Billing Address-->
                <div class="checkbox">
                  <label> <input id="theSameAsShippingAddress"
                                 type="checkbox" name="billingSameAsShipping" value="true" />
                    The same as shipping address
                  </label>
                </div>
                <div class="form-group">
                  <label for="billingName">* Name</label>
                  <input type="text" class="form-control billingAddress" id="billingName"
                         placeholder="Receiver Name" name="BillingAddressName"
                         required="required" th:value="${billingAddress.BillingAddressName}">
                </div>

                <div class="form-group">
                  <label for="billingAddress">* Street Address</label>
                  <input type="text" class="form-control billingAddress" id="billingAddress"
                         placeholder="Street 1" name="BillingAddressStreet1"
                         required="required" th:value="${billingAddress.BillingAddressStreet1}">
                  <input type="text" class="form-control billingAddress" id="billingAddress"
                         placeholder="Street 2" name="BillingAddressStreet2"
                         required="required" th:value="${billingAddress.BillingAddressStreet2}">
                </div>

                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="billingCountry">* Country</label>
                      <input type="text" class="form-control billingAddress" id="billingCountry"
                             placeholder="Billing Country" name="BillingAddressCountry"
                             required="required"
                             th:value="${billingAddress.BillingAddressCountry}">
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="billingCity">* City</label>
                      <input type="text" class="form-control billingAddress" id="billingCity"
                             placeholder="Billing City" name="BillingAddressCity"
                             required="required"
                             th:value="${billingAddress.BillingAddressCity}">
                    </div>
                  </div>

                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="billingState">* State</label>
                      <select name="BillingAddressState" id="billingState"
                              class="form-control billingAddress"
                              th:value="${billingAddress.BillingAddressState}"
                              required="required">
                        <option value="" disabled="disabled">Please select an option
                        </option>
                        <option th:each="state:${stateList}"
                                th:text="${state}"
                                th:selected="(${billingAddress.BillingAddressState}==${state})"
                        ></option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="billingZipcode">* Zipcode</label>
                      <input type="text" class="form-control billingAddress" id="billingZipcode"
                             placeholder="Billing Zipcode" name="BillingAddressZipcode"
                             required="required"
                             th:value="${billingAddress.BillingAddressZipcode}">
                    </div>
                  </div>
                </div>

                <a href="#reviewItems" data-toggle="collapse" data-parent="#accordion"
                   class="btn btn-warning pull-right">Next</a>
              </div>
            </div>
          </div>

<!--          3. Review Item and Shipping-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="#reviewItems" data-toggle="collapse" data-parent="#accordion">
                  3. Review Items and Shipping
                </a>
              </h4>
            </div>
            <div id="reviewItems" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Choose your shipping method:</h4>
                <div class="radio">
                  <label>
                    <input type="radio" name="shippingMethod" value="groundShipping" checked="checked">
                    Ground Shipping
                  </label>
                </div>

                <div class="radio">
                  <label>
                    <input type="radio" name="shippingMethod" value="premiumShipping">
                    Premium Shipping
                  </label>
                </div>
                <div class="row">
                  <div class="col-xs-8">
                    <h4>Products</h4>
                  </div>
                  <div class="col-xs-2">
                    <h4>Price</h4>
                  </div>
                  <div class="col-xs-2">
                    <h4>Qty</h4>
                  </div>
                </div>

<!--                display products in cart-->
                <div class="row" th:each="cartItem:${cartItemList}">

                    <hr>
                    <div class="col-xs-2">
                      <a th:href="@{'/bookDetail?id=' + ${cartItem.book.id}}">
                        <img th:src="#{adminPath} + @{/images/book/} + ${cartItem.book.id} + '.png'"
                             class="img-responsive shelf-book" style="width: 70px;">
                      </a>
                    </div>
                    <div class="col-xs-6">
                      <div style="margin-left:50px;">
                        <a th:href="@{'/bookDetail?id='+${cartItem.book.id}}"><h4 th:text="${cartItem.book.title}"></h4></a>
                        <p th:if="${cartItem.book.inStockNumber&gt;10}"
                           style="color: green;">In Stock</p>
                        <p
                                th:if="${cartItem.book.inStockNumber&lt;10 and cartItem.book.inStockNumber&gt;0}"
                                style="color: green;">
                          Only <span th:text="${cartItem.book.inStockNumber}"></span> In
                          Stock
                        </p>
                        <p th:if="${cartItem.book.inStockNumber==0}"
                           style="color: darkred;">Product Unavailable</p>
                        <a th:href="@{'/shoppingCart/removeItem?id='+${cartItem.id}}">delete</a>
                      </div>
                    </div>

                    <div class="col-xs-2">
                      <h5 style="color: #db3208; font-size: large;">
                        $<span th:text="${cartItem.book.ourPrice}"
                               th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
                      </h5>
                    </div>

                    <div class="col-xs-2">
                      <h5 th:text="${cartItem.qty}" style="font-size: large;"></h5>
                    </div>

                </div>
                <hr>
                <h4 class="col-xs-12 text-right">
                  <strong style="font-size: large;">Order Total (<span
                          th:text="${#lists.size(cartItemList)}"></span> items):
                  </strong> <span style="color: #db3208; font-szie: large;">$<span
                        th:text="${shoppingCart.grandTotal}"></span></span>
                </h4>
                <br><br>
                <button type="submit" class="btn btn-warning btn-block">Place your order</button>
                <p style="font-size: smaller;">By placing your order, you agree to bookstore <a href="#">privacy</a>notice and <a href="#">conditions</a> of use</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </form>

  </div>


</div>
<div th:replace="common/header::footer" />
<div th:replace="common/header::body-bottom-scripts"/>
</body>
</html>