<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All post</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <h1 th:text="${user.fullname} + ' Blogs'" class="col-4 text-left"></h1>
            <a th:href="@{'/' + ${user.id}}" class="col-6 text-right ">Create a new post</a>
            <a href="/logout" class="col-2 text-right ">Logout</a>
        </nav>
        <div class="my-3" th:each="post:${posts}">
            <h2 th:text="${post.title}" class="text-primary"></h2>
            <p class="text-info">
                <span th:text="${post.formatTime()}"></span>&nbsp;&nbsp;
                <span>
                    <a th:href="@{'/post/edit/' + ${post.id}}">Edit</a>
                </span>
            </p>
            <p th:text="${post.content}">
            </p><hr>
            <div th:each="comment:${post.getComments()}">
                <p>
                    <span th:text="${comment.getCommenter().fullname}"></span> write at
                    <span th:text="${comment.formatTime()}"></span>
                    <span>
                        <a th:href="@{'/comment/' + ${comment.id}}">Remove</a>
                    </span>
                </p>
                <p th:text="${comment.content}"></p>
            </div>
        </div>

    </div>
</body>
</html>