<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
<!--    <nav class="navbar">-->
<!--        <h1 th:text="${userHead.fullname} + ' microBlog'" class="col-8 text-left"></h1>-->
<!--        <a href="/logout" class ="col-4 text-right">Logout</a>-->
<!--    </nav>-->


    <form th:action="@{/save}" method="post" th:object="${post}">
        <div class="form-group">
            <input type="hidden" th:field="*{id}" th:value="${post.id}">
        </div>
        <div class="form-group">
            <label class="col-form-label col-2 text-right">Title</label>
            <input type="text" th:field="*{title}" class="col-4">
        </div>
        <div class="form-group">
            <label class="col-form-label col-2 text-right">Content</label>
            <textarea cols="30" rows="2" th:field="*{content}" class="col-4"></textarea>
        </div>

        <div class="form-group" th:each="user:${users}">
            <label class="col-form-label col-2 text-right" th:text="${user.fullname} + ' comment'"></label>

            <input type="text" class="col-4" name="comment">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>