<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Counting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Job Statistic</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Job</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="job:${jobCount.keySet()}">
                    <td th:text="${job}"></td>
                    <td th:text="${jobCount.get(job)}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>