<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Top 5 Jobs</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <th>Job</th>
                <th>Quantity</th>
            </thead>
            <tbody>
            <tr th:each="job:${top5jobs.keySet()}">
                <td th:text="${job}"></td>
                <td th:text="${top5jobs.get(job)}"></td>
            </tr>
            </tbody>
        </table>

        <h1>Top 5 cities</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <th>City</th>
            <th>Population</th>
            </thead>
            <tbody>
            <tr th:each="city:${top5cities.keySet()}">
                <td th:text="${city}"></td>
                <td th:text="${top5cities.get(city)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>